<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .text-right-top {
            position: fixed;
            top: 0;
            right: 0;
        }
    </style>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
 <header>
     <div class="text-right-top">
        <a href="accounts/login/" style="color: black;">Войти</a><br>
        <a href="accounts/logout/" style="color: black;">Выйти</a><br>
     </div>
        <h1>Вы авторизированы</h1>
        <nav>
            <a href="accounts/password/change/" style="color: black;">Сменить пароль</a>
            <a href="accounts/password/reset/" style="color: black;">Сбросить пароль</a>
            <a href="all_users/" style="color: black;">Получить всех пользователей</a>
            <a href="user_detail/" style="color: black;">Получить пользователя по id</a>
            <a href="create_task/" style="color: black;">Создание задачи</a>
            <a href="create_category/" style="color: black;">Создание категории</a>
            <a href="task/" style="color: black;">Задачи</a>
        </nav>
    </header>

</body>
</html>